@model WebApplication1.Models.Class1

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
</br>
<table class="table" name="something">
    <thead>
        <a href="/Home/AddCat">Add Category</a>||<a href="/Home/AddEquipment">Add Equipment</a>

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>

            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.list.Count; i++)
        {
            <tr class="darkrow">
                <td>@ViewBag.list[i].id</td>
                <td>@ViewBag.list[i].Code</td>
                <td>@ViewBag.list[i].Name</td>
                <td>@ViewBag.list[i].Category</td>
                <td><a href="/Home/ItemInfo/@ViewBag.list[i].id">View</a></td>
            </tr>
        }

       
    </tbody>
</table>
<font color="@ViewBag.color">@ViewBag.code </font>
</html>