@model WebApplication1.Models.Class1

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
</br>
<h4 class="text-center">Inventory</h4>
<table class="table table-striped" name="something">
    <thead>
        <a href="/Home/AddCat" class="btn btn-success">Add Category</a> <a href="/Home/AddEquipment" class="btn btn-warning">Add Equipment</a>

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>

            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.list.Count; i++)
        {
            <tr>
                <td>@ViewBag.list[i].id</td>
                <td>@ViewBag.list[i].Code</td>
                <td>@ViewBag.list[i].Name</td>
                <td>@ViewBag.list[i].Category</td>
                <td><a href="/Home/ItemInfo/@ViewBag.list[i].id" class="btn btn-info">View</a></td>
            </tr>
        }

       
    </tbody>
</table>
<font color="@ViewBag.color">@ViewBag.code </font>
</html>