@model WebApplication1.Models.Class1

@{
    ViewBag.Title = "ItemInfo";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
</br>

<div>

    <table class="table">
        <tbody>
            <tr class="darkrow">
                <td>ID:</td>
                <td>@ViewBag.id</td>
            </tr>
            <tr>
                <td>Code:</td>
                <td class="">@ViewBag.list[@ViewBag.id - 1].Code</td>
            </tr>
            <tr class="darkrow">
                <td>Category:</td>
                <td>@ViewBag.list[@ViewBag.id - 1].Category</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@ViewBag.list[@ViewBag.id - 1].Name</td>
            </tr>
            <tr class="darkrow">
                <td>Description:</td>
                <td>@ViewBag.list[@ViewBag.id - 1].Description</td>
            </tr>
        </tbody>
    </table>
</div>
@Html.ActionLink("Back to Inventory", "Index")

</html>
